/* styles.css */
body {
    font: 14px "Avenir", helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    padding: 2em;
}

h2 {
    text-align: center;
    color: #111;
    margin: 16px 0 8px;
}

h3 {
    font-size: 14px;
    margin: 0 0 24px;
    color: #111;
    font-weight: 400;
}

h6 {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    margin: 16px 0 0;
    color: rgba(0, 0, 0, .5);
}

p {
    color: #111;
}

a {
    text-decoration: none;
}

.content {
    text-align: center;
}

.main.on {
    display: block;
}

.main.off {
    display: none;
}

.main.sent {
}

.main.sent .updateBox {
    background: #fff;
    color: #111;
    width: auto;
    max-width: 80%;
    margin: 0 auto;
    padding: 14px;
}

.main.sent .updateBox h4 {
    margin: 0 0 1em;
    font-size: 1.5em;
}

.updateClass {
    display: block;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.updateClass:hover {
    opacity: .7;
}

.update {
    background-color: #2A2C49;
    border-radius: 6px;
    display: block;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 24px;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
}

.updateBox {
    background-color: #F5F5F5;
    color: #333333;
    padding: 18px 24px 14px;
    border-radius: 8px;
    text-align: left;
}

#sendBtn {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    border-radius: 12px;
    text-align: center;
    padding: 0.5em;
    background: #2A2C49;
    color: #fff;
    text-transform: uppercase;
}

#backBtn {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    border-radius: 12px;
    text-align: center;
    padding: 0.5em;
    color: #2A2C49;
    background: white;
    border: 2px solid #2A2C49;
}

.sendReportBtn:hover {
    background: #E1E1E1;
    background-color: #ffab23;
}

.sendReportBtn:active {
    position: relative;
    top: 1px;
}

#form {
    background-color: #F5F5F5;
    color: #333333;
    padding: 18px 24px 14px;
    border-radius: 8px;
    text-align: left;
    margin-bottom: 2em;
}

.textbox {
    padding: .5em;
    border-radius: 4px;
    border: solid 1px;
    margin: .5em 0;
    display: block;
}

.textbox-small {
    width: 20px;
}

.textbox-full {
    width: 95%;
    height: 5em;
}

label {
    font-weight: bold;
}

.hidden {
    display: none;
}

#lastMessageSection {
    font-weight: 400;
}
